In [1]:
import numpy as np
import pandas as pd

In [2]:
df_orig = pd.read_excel('Hiwitest.xlsx', engine='openpyxl')
df_copy = df_orig.copy()

In [3]:
df_copy.shape

(2718, 7)

In [4]:
df_copy.head()

     pid     vist  fever  temp_morgen  temp_abend         ga zikv_test
0  pat_1  visit_1   True    37.524609   40.026709   2.627396       neg
1  pat_1  visit_2    NaN    39.904783   41.437249  13.287668       neg
2  pat_1  visit_3  False    39.580666         NaN  33.765845       neg
3  pat_1  visit_4   True          NaN   38.575805   7.139633       neg
4  pat_1  visit_5    NaN    40.036564   38.592640  40.014076       neg

In [5]:
#Statistical description about the data frame
df_copy.describe()

       temp_morgen   temp_abend           ga
count  2660.000000  2660.000000  2665.000000
mean     39.512534    39.492794    22.646215
std       1.423873     1.442920    13.433248
min      37.000097    37.000413     0.031547
25%      38.269468    38.252853    11.412763
50%      39.509432    39.483920    22.173927
75%      40.765317    40.762723    33.877833
max      41.994760    41.996930    99.000000

In [6]:
#count the NaN values in a column in pandas DataFrame
df_copy.isna().sum()

pid             1
vist            0
fever          36
temp_morgen    58
temp_abend     58
ga             53
zikv_test      34
dtype: int64

In [7]:
#Keep the DataFrame with valid entries in the same variable
df_copy.dropna(inplace=True)

In [8]:
df_copy.isna().sum()

pid            0
vist           0
fever          0
temp_morgen    0
temp_abend     0
ga             0
zikv_test      0
dtype: int64

## Hi

In [9]:
# max_value_temp_morgen = df_copy["temp_morgen"].max()
# print(max_value_temp_morgen)

In [10]:
# df4= df3.describe()
# df4

In [11]:
df_copy['max_temp'] = df_copy[['temp_morgen','temp_abend']].max(axis=1)
##for column axis=1

In [12]:
df_copy

,pid,vist,fever,temp_morgen,temp_abend,ga,zikv_test,max_temp
0,pat_1,visit_1,True,37.524609,40.026709,2.627396,neg,40.026709
5,pat_2,visit_1,True,39.412409,37.512917,17.769637,neg,39.412409
8,pat_2,visit_4,False,39.961774,40.945039,12.290961,pos,40.945039
13,pat_4,visit_2,False,40.587564,38.227506,19.109964,neg,40.587564
14,pat_4,visit_3,True,38.142816,39.572186,26.599292,pos,39.572186
...,...,...,...,...,...,...,...,...
2703,pat_499,visit_3,False,39.054742,38.066821,39.693645,neg,39.054742
2704,pat_499,visit_4,True,40.290230,41.786165,39.178297,neg,41.786165
2705,pat_499,visit_5,True,40.736792,38.498443,33.265070,neg,40.736792
2706,pat_499,visit_6,True,37.037706,38.175118,2.508157,neg,38.175118
2707,pat_500,visit_1,False,40.172950,40.344241,16.274609,neg,40.344241

In [13]:
# df_copy['fever_ever'] = df_copy.loc[df_copy['max_temp']==False, 'fever']

In [14]:
df_copy['fever_ever'] = np.where(df_copy['max_temp']> 38.5, True, False)

In [15]:
df_copy

,pid,vist,fever,temp_morgen,temp_abend,ga,zikv_test,max_temp,fever_ever
0,pat_1,visit_1,True,37.524609,40.026709,2.627396,neg,40.026709,True
5,pat_2,visit_1,True,39.412409,37.512917,17.769637,neg,39.412409,True
8,pat_2,visit_4,False,39.961774,40.945039,12.290961,pos,40.945039,True
13,pat_4,visit_2,False,40.587564,38.227506,19.109964,neg,40.587564,True
14,pat_4,visit_3,True,38.142816,39.572186,26.599292,pos,39.572186,True
...,...,...,...,...,...,...,...,...,...
2703,pat_499,visit_3,False,39.054742,38.066821,39.693645,neg,39.054742,True
2704,pat_499,visit_4,True,40.290230,41.786165,39.178297,neg,41.786165,True
2705,pat_499,visit_5,True,40.736792,38.498443,33.265070,neg,40.736792,True
2706,pat_499,visit_6,True,37.037706,38.175118,2.508157,neg,38.175118,False
2707,pat_500,visit_1,False,40.172950,40.344241,16.274609,neg,40.344241,True

In [16]:
df_copy

,pid,vist,fever,temp_morgen,temp_abend,ga,zikv_test,max_temp,fever_ever
0,pat_1,visit_1,True,37.524609,40.026709,2.627396,neg,40.026709,True
5,pat_2,visit_1,True,39.412409,37.512917,17.769637,neg,39.412409,True
8,pat_2,visit_4,False,39.961774,40.945039,12.290961,pos,40.945039,True
13,pat_4,visit_2,False,40.587564,38.227506,19.109964,neg,40.587564,True
14,pat_4,visit_3,True,38.142816,39.572186,26.599292,pos,39.572186,True
...,...,...,...,...,...,...,...,...,...
2703,pat_499,visit_3,False,39.054742,38.066821,39.693645,neg,39.054742,True
2704,pat_499,visit_4,True,40.290230,41.786165,39.178297,neg,41.786165,True
2705,pat_499,visit_5,True,40.736792,38.498443,33.265070,neg,40.736792,True
2706,pat_499,visit_6,True,37.037706,38.175118,2.508157,neg,38.175118,False
2707,pat_500,visit_1,False,40.172950,40.344241,16.274609,neg,40.344241,True

In [17]:
df_copy['zikv_ever'] =''
df_copy.loc[list(df_copy.loc[df_copy['zikv_test']=='neg'].index),'zikv_ever']='neg'
#df_copy.loc[df_copy['zikv_test']=='neg'].index,'zikv_ever'='neg'

 #list of index of dataframe from column zikv_test which has value neg
#d4= df_copy.loc[df_copy['zikv_test']=='neg'].index
#d4
#list(d4)
#df_copy.loc[list(d4), 'zikv_ever'] ='neg'

In [18]:
df_copy

,pid,vist,fever,temp_morgen,temp_abend,ga,zikv_test,max_temp,fever_ever,zikv_ever
0,pat_1,visit_1,True,37.524609,40.026709,2.627396,neg,40.026709,True,neg
5,pat_2,visit_1,True,39.412409,37.512917,17.769637,neg,39.412409,True,neg
8,pat_2,visit_4,False,39.961774,40.945039,12.290961,pos,40.945039,True,
13,pat_4,visit_2,False,40.587564,38.227506,19.109964,neg,40.587564,True,neg
14,pat_4,visit_3,True,38.142816,39.572186,26.599292,pos,39.572186,True,
...,...,...,...,...,...,...,...,...,...,...
2703,pat_499,visit_3,False,39.054742,38.066821,39.693645,neg,39.054742,True,neg
2704,pat_499,visit_4,True,40.290230,41.786165,39.178297,neg,41.786165,True,neg
2705,pat_499,visit_5,True,40.736792,38.498443,33.265070,neg,40.736792,True,neg
2706,pat_499,visit_6,True,37.037706,38.175118,2.508157,neg,38.175118,False,neg
2707,pat_500,visit_1,False,40.172950,40.344241,16.274609,neg,40.344241,True,neg

In [19]:
df_copy['zikv_tri1'] =''
df_copy.loc[list(df_copy.loc[df_copy['ga']<14].index),'zikv_tri1'] = 'trimester1'

In [20]:
df_copy

,pid,vist,fever,temp_morgen,temp_abend,ga,zikv_test,max_temp,fever_ever,zikv_ever,zikv_tri1
0,pat_1,visit_1,True,37.524609,40.026709,2.627396,neg,40.026709,True,neg,trimester1
5,pat_2,visit_1,True,39.412409,37.512917,17.769637,neg,39.412409,True,neg,
8,pat_2,visit_4,False,39.961774,40.945039,12.290961,pos,40.945039,True,,trimester1
13,pat_4,visit_2,False,40.587564,38.227506,19.109964,neg,40.587564,True,neg,
14,pat_4,visit_3,True,38.142816,39.572186,26.599292,pos,39.572186,True,,
...,...,...,...,...,...,...,...,...,...,...,...
2703,pat_499,visit_3,False,39.054742,38.066821,39.693645,neg,39.054742,True,neg,
2704,pat_499,visit_4,True,40.290230,41.786165,39.178297,neg,41.786165,True,neg,
2705,pat_499,visit_5,True,40.736792,38.498443,33.265070,neg,40.736792,True,neg,
2706,pat_499,visit_6,True,37.037706,38.175118,2.508157,neg,38.175118,False,neg,trimester1
2707,pat_500,visit_1,False,40.172950,40.344241,16.274609,neg,40.344241,True,neg,

In [21]:
df_copy['zikv_tri2'] =''
df_copy.loc[list(df_copy.loc[df_copy['ga']> 14].index & df_copy.loc[df_copy['ga']<28].index),'zikv_tri2'] = 'trimester2'

In [22]:
df_copy

,pid,vist,fever,temp_morgen,temp_abend,ga,zikv_test,max_temp,fever_ever,zikv_ever,zikv_tri1,zikv_tri2
0,pat_1,visit_1,True,37.524609,40.026709,2.627396,neg,40.026709,True,neg,trimester1,
5,pat_2,visit_1,True,39.412409,37.512917,17.769637,neg,39.412409,True,neg,,trimester2
8,pat_2,visit_4,False,39.961774,40.945039,12.290961,pos,40.945039,True,,trimester1,
13,pat_4,visit_2,False,40.587564,38.227506,19.109964,neg,40.587564,True,neg,,trimester2
14,pat_4,visit_3,True,38.142816,39.572186,26.599292,pos,39.572186,True,,,trimester2
...,...,...,...,...,...,...,...,...,...,...,...,...
2703,pat_499,visit_3,False,39.054742,38.066821,39.693645,neg,39.054742,True,neg,,
2704,pat_499,visit_4,True,40.290230,41.786165,39.178297,neg,41.786165,True,neg,,
2705,pat_499,visit_5,True,40.736792,38.498443,33.265070,neg,40.736792,True,neg,,
2706,pat_499,visit_6,True,37.037706,38.175118,2.508157,neg,38.175118,False,neg,trimester1,
2707,pat_500,visit_1,False,40.172950,40.344241,16.274609,neg,40.344241,True,neg,,trimester2

In [23]:
df_copy['zikv_tri3'] =''
df_copy.loc[list(df_copy.loc[df_copy['ga']>= 28].index),'zikv_tri3'] = 'trimester3'

In [24]:
df_copy

,pid,vist,fever,temp_morgen,temp_abend,ga,zikv_test,max_temp,fever_ever,zikv_ever,zikv_tri1,zikv_tri2,zikv_tri3
0,pat_1,visit_1,True,37.524609,40.026709,2.627396,neg,40.026709,True,neg,trimester1,,
5,pat_2,visit_1,True,39.412409,37.512917,17.769637,neg,39.412409,True,neg,,trimester2,
8,pat_2,visit_4,False,39.961774,40.945039,12.290961,pos,40.945039,True,,trimester1,,
13,pat_4,visit_2,False,40.587564,38.227506,19.109964,neg,40.587564,True,neg,,trimester2,
14,pat_4,visit_3,True,38.142816,39.572186,26.599292,pos,39.572186,True,,,trimester2,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,pat_499,visit_3,False,39.054742,38.066821,39.693645,neg,39.054742,True,neg,,,trimester3
2704,pat_499,visit_4,True,40.290230,41.786165,39.178297,neg,41.786165,True,neg,,,trimester3
2705,pat_499,visit_5,True,40.736792,38.498443,33.265070,neg,40.736792,True,neg,,,trimester3
2706,pat_499,visit_6,True,37.037706,38.175118,2.508157,neg,38.175118,False,neg,trimester1,,
2707,pat_500,visit_1,False,40.172950,40.344241,16.274609,neg,40.344241,True,neg,,trimester2,

In [25]:
df_copy.to_excel (r'E:\python_projects\Tutorial\task_Hiwi.xlsx', index = False, header=True)